[Unit]
Description=Mock Api Server
After=network.target

[Service]
ExecStart=/usr/bin/pwsh -nop -ep Bypass -c /opt/pode/MockApiServer.ps1
Restart=always

[Install]
WantedBy=multi-user.target
Alias=mockapi-server.service
